/* This is for Homepage */

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

h2{
    text-align: center;
    font-size: 25px;
    color: white;
}

.center {
    text-align: center  ;
}

.btn1, .btn2{
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
}


